.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.HTF/
.repos
.stack-work/
.vscode/
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
*/target/**
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*
json2csv.cabal
stack.yaml.lock